/** Login Configuration for the CIS Authentication Service 
  *  This is a standard JAAS configuration file. 
  *   For a description of the structure and syntax of this file see: http://java.sun.com/security/jaas/doc/api.html#AppendixB
  *   Create an entry in this file for each unique application you wish to configure authentication for.
  * 	For CIS front bus authentication the authentication service first attempts to use the login configuration associated with 
  *   the application provided name, and if a configuration does not exist for this name, it uses the login configuration assocaited 
  *   with the name CIS-Default. If you do not wish to have this default behavior, remove the CIS-Default entry from the 
  *   login configuration file.  
  *   	
**/




CIS-Default
{
   com.i2.cis.security.auth.module.PassthruLoginModule required authenticateUser="true";  
};

SampleBasic
{
   com.i2.cis.security.auth.module.PassthruLoginModule required authenticateUser="true";  
};

OMxLoginModule
{
   com.i2.x2.util.cis.OmxLoginModule required 
   com.i2.x2.util.cis.AuthString="User ID:USER_NAME[TEXT],Password:PASSWORD[PASSWORD]"
   com.i2.x2.util.cis.Principal="user=USER_NAME"
   com.i2.x2.util.cis.LocatorUrl="http://localhost:12015/"
   com.i2.x2.util.cis.AuthServiceName="USER_SECURITY"
   com.i2.x2.util.cis.SAXParser="org.apache.xerces.parsers.SAXParser";
};
 
BBYLDAPLoginModule
{
com.i2.x2.util.cis.LDAPLoginModule required com.i2.cis.auth.ldap.protocol="ldaps://" com.i2.cis.auth.ldap.hostName="crpitl11.itl.com:636" com.i2.cis.auth.ldap.baseDN="ou=People,o=bestbuy.com" com.i2.cis.auth.ldap.baseDNForRole="ou=scem,ou=Groups,o=bestbuy.com"  com.i2.cis.auth.ldap.AuthString="auth.ldap.useridLable:USER_NAME[TEXT],auth.ldap.passwordLable:PASSWORD[PASSWORD]" com.i2.cis.auth.ldap.SearchQuery="uid=USER_NAME"   com.i2.cis.auth.ldap.principal="pager=pager,facsimiletelephonenumber=facsimiletelephonenumber,user=USER_NAME,mail=mail,givenname=givenname,sn=sn,telephonenumber=telephonenumber,uid=uid,createtimestamp=createtimestamp,modifytimestamp=modifytimestamp,bboracleorganizationid=organization,bbrole=title,postaladdress=homepostaladdress,postalcode=postalcode,manager=manager,bbcity=city,st=state,C=country,bboraclemiddlename=initals,mobile=mobile";
};

