/* -- i2ui CSS style sheet - The core style sheet for TradeMatrix and i2ui Tags --*/

/* -- GENERAL --*/
BODY                   {
	font-family: verdana, sans-serif;
	color: #505050;
	background-color:#ffffff;
	SCROLLBAR-3DLIGHT-COLOR: #999999;
	SCROLLBAR-ARROW-COLOR: #656363;
	SCROLLBAR-BASE-COLOR: #d1d6f0;
	SCROLLBAR-HIGHLIGHT-COLOR: #d1d6f0;
	SCROLLBAR-SHADOW-COLOR: #d1d6f0;
	SCROLLBAR-DARKSHADOW-COLOR: #999999;
	SCROLLBAR-TRACK-COLOR: #f2f4fe;
	font-size : 8pt;
}
.bodyText               {font-size : 8pt;  font-weight: normal; padding-left: 4px;}
.Header1   {font-family: verdana, arial, san-serif; font-size:14px; font-weight: bold; color: #2e4e9e;}
.Header2   {font-family: verdana, arial, san-serif; font-size:12px; font-weight: bold; color: #2e4e9e;}
.Header3   {font-family: verdana, arial, san-serif; font-size:11px; font-weight: bold; color: #2e4e9e;}
.bodyBackground   {background-color:#e6e6e6;}
.messageBoxBackground  {background-color:#F7F8FD;}
P.reset              {font-family: verdana,  sans-serif; margin:1px; font-size:11px; }
BR.separator      { font-size: 6px; }
/* -- the shadow sets BG color for a shadow effect around power tab container  --*/
.shadow           {border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; }
A:link,  A:active  {color: #5060B8 ; text-decoration: none; }
A:visited                          {color: #9430A3; text-decoration: none; }
.linkDisabled                    {color: #a0a0a0; text-decoration: none;}
HR                         {height: 1px;}
/* -- regionDivider should be applied to HR tags --*/
.regionDivider { height: 3px; color: #e6e6e6; border-top: 1px solid #c6c2c6; border-bottom: 1px solid #ffffff; }
.vr                      {font-size:1px; background-color: #999999;}
.errorMessage   {font-family: verdana,  sans-serif; font-size:11px;  font-weight:bold; color: #C63E3E; }
.positiveMessage        {font-family: verdana,  sans-serif; font-size:11px;  font-weight:bold; color: #238B3B; }

/* --- SHELL --- These styles are used to create the background where all content reside. --*/
.shellBody                 {margin:0px;}
.shellBackground   {background-color:#4858c5; margin:0px;}
.shellContent              {background-color:#e6e6e6;}
.shellEdgeTop, .shellEdgeBottom     {background-repeat:repeat-x; font-size:2px; }
.shellEdgeLeft, .shellEdgeRight    {background-repeat:repeat-y; font-size:2px; }
.shellBannerText {font-family:verdana,sans-serif; font-size:11px; color:#ffffff;}
.shellBannerText A:link, .shellBannerText A:active, .shellBannerText A:visited, .shellBannerText A:hover  {color: #ffffff; text-decoration: none;}

/* -- BREADCRUMBS --*/
.applicationHeader   {font-family: verdana, sans-serif; font-size:11px; font-weight: bold; color: #2e4e9e;}
.breadcrumbs   {font-size:11px; font-weight: normal; color: #2e4e9e;}
.breadcrumbs A:link, .breadcrumbs A:active, .breadcrumbs A:visited, .breadcrumbs A:hover {color: #2e4e9e;}
.breadcrumbsScrollers  {font-size:11px; font-weight: normal; color: #b11313;}
.breadcrumbsScrollers A:link, .breadcrumbsScrollers A:active, .breadcrumbsScrollers A:visited, .breadcrumbsScrollers A:hover     {color: #b11313;}

/* -- HEADERS --*/
.contentHeader   { font-size:11px; font-weight: bold; color: #505050; }

/* -- TABS  --*/
#tabPaneWhite   {background-color : #ffffff; }
#tabPaneGrey     {background-color : #e6e6e6;}
.tabFillerWhite     {border-bottom:1px solid #999999; border-right:1px solid #ffffff;}
.tabFillerGrey       {border-bottom:1px solid #999999; border-right:1px solid #e6e6e6;}
.tabFillerVertWhite  {border-right:1px solid #999999;}
.tabFillerVertGrey    {border-right:1px solid #e6e6e6;}
.tabGap                      {border-bottom:1px solid #bfbfbf; font-size:1px;}
.tabGapVert          {border-right:1px solid #bfbfbf; font-size:1px;}
.tabText                 {font-family:verdana,  sans-serif; font-size:11px; text-align : center; color: #505050;  text-decoration : none; padding-bottom:3px; padding-top:3px; border-top:1px solid #999999; }
.tabText A:link, .tabText A:active, .tabText A:visited, .tabText A:hover  {color: #505050; text-decoration: none;}
.tabTextNS4          {font-family:verdana,  sans-serif; font-size:11px; text-align : center; color: #505050; text-decoration : none; padding-bottom:2px; padding-top:1px; border-top:1px solid #999999; }
.tabTextNS4 A:link, .tabTextNS4 A:active, .tabTextNS4 A:visited, .tabTextNS4 A:hover  {color: #505050; text-decoration: none;}
#tabSelected              {background-color:#bec5e7; font-weight:bold;}
#tabSelectedVert      {background-color:#ffffff; font-weight:bold;}
#tabSelectedVert2    {background-color:#ffffff; font-weight:bold; border-bottom:1px solid #999999;border-top:1px solid #999999;}
#tabSelectedNS4Vert    {background-color:#bec5e7; font-weight:bold;}
#tabSelectedNS6Vert    {background-color:#ffffff; font-weight:bold;}
#tabSelectedNS6Vert2  {background-color:#ffffff; font-weight:bold; border-bottom:1px solid #999999;}
#tabSelectedNS6            {background-color:#bec5e7; font-weight:bold; border-bottom:1px solid #bec5e7;}
#tabUnSelected               {background-color : #d1d6f0; border-bottom:1px solid #999999;}
#tabUnSelectedVert       {background-color : #d1d6f0;}
#tabUnSelectedVert2     {background-color : #d1d6f0; border-top:1px solid #999999; border-bottom:1px solid #999999; border-right:1px solid #999999;}
#powerTabSelected           {background-color : #fffacd; font-weight : bold;}
#powerTabSelectedNS6   {background-color : #fffacd; font-weight : bold; border-bottom:1px solid #fffacd;}
#powerTabUnSelected     {background-color : #fffde6; border-bottom:1px solid #999999;}
.tabContainerHeader         {font-family:verdana,  sans-serif; font-size : 11px; font-weight : bold;  color : #505050;  line-height: 18px; border-bottom:1px solid #999999; border-left:1px solid #999999; border-right:1px solid #999999;}
.tabContainerHeaderLeft    {font-family:verdana,  sans-serif; font-size : 11px; font-weight : bold;  color : #505050;  line-height: 18px; border-bottom:1px solid #999999; border-left:1px solid #999999;}
.tabContainerHeaderRight   {font-family:verdana,  sans-serif; font-size : 11px; font-weight : bold;  color : #505050; text-align : right;  line-height: 18px; border-bottom:1px solid #999999; border-right:1px solid #999999;}
.tabContainerHeaderLeftNS4 {font-family:verdana,  sans-serif; font-size : 11px; font-weight : bold;  color : #505050;  line-height: 16px; border-bottom:1px solid #999999; border-left:1px solid #999999;}
.tabContainerHeaderRightNS4 {font-family:verdana,  sans-serif; font-size : 11px; font-weight : bold;  color : #505050; text-align : right;  line-height: 16px; border-bottom:1px solid #999999; border-right:1px solid #999999;}
.tabContainerHeaderVert    {font-family:verdana,  sans-serif; font-size : 11px; font-weight : bold;  color : #505050;  line-height: 18px; border-bottom:1px solid #999999; border-left:1px solid #999999; border-right:1px solid #999999; border-top:1px solid #999999;}
.tabContainerHeaderLeftVert  {font-family:verdana,  sans-serif; font-size : 11px; font-weight : bold;  color : #505050;  line-height: 18px; border-bottom:1px solid #999999; border-left:1px solid #999999; border-top:1px solid #999999;}
.tabContainerHeaderRightVert {font-family:verdana,  sans-serif; font-size : 11px; font-weight : bold;  color : #505050; text-align : right;  line-height: 18px; border-bottom:1px solid #999999; border-right:1px solid #999999; border-top:1px solid #999999;}
.tabContainerHeaderLeftVertNS4  {font-family:verdana,  sans-serif; font-size : 11px; font-weight : bold;  color : #505050;  line-height: 16px; border-bottom:1px solid #999999; border-left:1px solid #999999; border-top:1px solid #999999;}
.tabContainerHeaderRightVertNS4 {font-family:verdana,  sans-serif; font-size : 11px; font-weight : bold;  color : #505050; text-align : right;  line-height: 16px; border-bottom:1px solid #999999; border-right:1px solid #999999; border-top:1px solid #999999;}
.tabCorner                   {font-size:2px;}
.tabEdgeLeft               {background-repeat:repeat-y; font-size:2px;}
.tabEdgeRight             {background-repeat:repeat-y; background-position:right; font-size:2px;}
.tabEdgeBottom         {font-family:verdana,  sans-serif; font-size : 11px; color : #999999; text-align : left;}
.tabContainerSubheader {background-color: #d1d6f0; font-family:verdana, sans-serif; font-size: 11px; color: #505050; line-height: 18px; border-bottom:1px solid #999999; border-left:1px solid #999999; border-right:1px solid #999999;}

 /* --  CONTAINERS  --*/
.containerBorder   {background-color:#999999;}
.containerHeader  {font-family:verdana,  sans-serif; font-size : 11px;  font-weight : bold; color : #505050; line-height: 18px; border-top:1px solid #999999; border-bottom:1px solid #999999; border-left:1px solid #999999; border-right:1px solid #999999;}
.containerHeaderLeft   {font-family:verdana,  sans-serif; font-size : 11px;  font-weight : bold; color: #505050; line-height: 18px; border-top:1px solid #999999; border-bottom:1px solid #999999; border-left:1px solid #999999;}
.containerHeaderRight  {font-family:verdana,  sans-serif; font-size : 11px;  font-weight : bold;  text-align : right; color : #505050; line-height: 18px; border-top:1px solid #999999; border-bottom:1px solid #999999; border-right:1px solid #999999;}
.containerHeaderless  {font-size : 2px; line-height: 6px; border-top:1px solid #999999; border-bottom:1px solid #999999; border-left:1px solid #999999; border-right:1px solid #999999;}
.containerHeaderLeftNS4   {font-family:verdana,  sans-serif; font-size : 11px;  font-weight : bold; color : #505050; line-height:16px; border-top:1px solid #999999; border-bottom:1px solid #999999; border-left:1px solid #999999;}
.containerHeaderRightNS4  {font-family:verdana,  sans-serif; font-size : 11px;  font-weight : bold;  text-align : right; color : #505050; line-height:16px; border-top:1px solid #999999; border-bottom:1px solid #999999; border-right:1px solid #999999;}
.containerBody      {background-color : #ffffff; font-family:verdana,  sans-serif;  font-size:11px;   border-left:1px solid #999999; border-right:1px solid #999999; }
.containerBodyNS4   {background-color : #999999; font-family:verdana,sans-serif;  font-size:11px;   border-left:1px solid #999999; border-right:1px solid #999999; }
.containerBodyIndent      {background-color : #ffffff; font-family:verdana,  sans-serif;  font-size:11px;  border-left:1px solid #999999; border-right:1px solid #999999; padding-left: 8px; padding-right: 8px; padding-bottom: 8px;}
.containerBodyIndentNS4   {background-color : #999999; font-family:verdana,sans-serif;  font-size:11px;  border-left:1px solid #999999; border-right:1px solid #999999; padding-left: 8px; padding-right: 8px; padding-bottom: 8px;}
.containerBodyVert  {background-color : #ffffff; font-family:verdana,  sans-serif;  font-size:11px;  border-right:1px solid #999999; }
.containerBodyVertIndent  {background-color : #ffffff; font-family:verdana,  sans-serif;  font-size:11px;   border-right:1px solid #999999; padding-left: 8px; padding-right: 8px;}
.containerFooter    {background-color:#bec5e7; font-family:verdana,  sans-serif; font-size : 11px; color : #505050; line-height: 18px; border-top:1px solid #999999; border-bottom:1px solid #999999; border-left:1px solid #999999; border-right:1px solid #999999;}
#containerOuter           {background-color : #bec5e7; font-weight : bold;}
#containerInner           {background-color : #d1d6f0;}

/* -- TABLES --*/
TR,TD                     {font-family: verdana,  sans-serif; font-size:11px; color: #505050;}
.tableBorder     {background-color:#999999; }
.tableHeader    {background-color:#bec5e7; font-size:11px; font-weight:bold; color:#505050; line-height: 18px; border-top:1px solid #999999; border-left:1px solid #999999;  border-right:1px solid #999999;}
.tableColumnHeadings   {background:#d1d6f0; font-family:verdana,sans-serif;  font-size:11px; color: #505050; line-height: 18px;}
.tableColumnHeadings TD  {padding-left: 6px; padding-right: 6px;}
.tableColumnHeadingsNS4   {background:#d1d6f0; font-family:verdana,sans-serif;  font-size:11px; color: #505050;}
.tableColumnHeadingsNS4 TD  {padding-left: 6px; padding-right: 6px;}
.tableRow0       {background:#f7f8fd; font-family:verdana,sans-serif; font-size:11px; color: #505050;    line-height: 18px;}
.tableRow0  TD     {padding-left: 6px; padding-right: 6px;}
.tableRow0NS4       {background:#f7f8fd; font-family:verdana,sans-serif; font-size:11px; color: #505050;}
.tableRow0NS4 TD      {padding-left: 6px; padding-right: 6px;}
.tableRow1       {background:#eceef8; font-family:verdana,sans-serif; font-size:11px; color: #505050; line-height: 18px;}
.tableRow1 TD      {padding-left: 6px; padding-right: 6px;}
.tableRow1NS4      {background:#eceef8; font-family:verdana,sans-serif; font-size:11px; color: #505050;}
.tableRow1NS4 TD      {padding-left: 6px; padding-right: 6px;}
.rowHighlight   {background:#fff6a6; font-family:verdana,sans-serif; font-size:11px; color: #505050; line-height:18px; }
.rowHighlight TD      {padding-left: 6px; padding-right: 6px;}
.rowHighlightNS4   {background:#fff6a6; font-family:verdana,sans-serif; font-size:11px; color: #505050; }
.rowHighlightNS4 TD      {padding-left: 6px; padding-right: 6px;}
.columnHighlight   {background:#fff6a6; font-family:verdana,sans-serif; font-size:11px; color: #505050;}
.editableCell {background:#ffffff; font-family:verdana,sans-serif; font-size:11px; color: #505050;}
.indent                    {padding-left: 8px; padding-right: 8px;}

/* -- MENUS --*/
.popupLink {color: #FF9000; text-decoration: none;}
.popupLink A:link, .popupLink A:active, .popupLink A:visited, .popupLink A:hover  {color: #FF9000; text-decoration: none;}
.menuText         { font-family:verdana,sans-serif; font-size:11px; color: #505050; text-decoration: none;}
.menuText A:link, .menuText A:active, .menuText A:visited  {color: #505050;  text-decoration: none;}
.menuText A:hover      {color: #000000;  }
.menuUnHighlighted   {background:#F2F4FE;}
.menuHighlighted        {background:#D1D6F0;}
.menuShadow      {background-color: #F2F4FE; border-bottom: 1px solid #D1D6F0;  border-right:1px solid #D1D6F0; border-left:1px solid #ffffff; border-top:1px solid #ffffff;}

/* --  BUTTONS --*/
.buttonBorder                     {background-color:#999999; }
.buttonBorderDisabled     {background-color:#bfbfbf;}
.buttonBorderEmphasized     {background-color:#666666;}
#buttonEmphasized          {background-color: #ffe600; font-size:11px; font-weight: bold;  border-bottom: 1px solid #d0bb03; border-right:1px solid #d0bb03; border-left:1px solid #fffbd4;  border-top:1px solid #fffbd4; }
#buttonRegular           {background-color: #fff6a6; font-size:11px; border-bottom: 1px solid #e4db83;  border-right:1px solid #e4db83; border-left:1px solid #ffffff; border-top:1px solid #ffffff;}
#buttonDisabled          {background-color: #fffbdb;  font-size:11px; border-bottom: 1px solid #e6e3b8; border-right:1px solid #e6e3b8; border-left:1px solid #ffffff; border-top:1px solid #ffffff;}
#buttonSmallEmphasized     {background-color: #ffe600;  font-weight: bold; font-size:10px; border-bottom: 1px solid #d0bb03; border-right:1px solid #d0bb03; border-left:1px solid #fffbd4;  border-top:1px solid #fffbd4; }
#buttonSmallRegular        {background-color: #fff6a6; font-size:10px; border-bottom: 1px solid #e4db83;  border-right:1px solid #e4db83; border-left:1px solid #ffffff; border-top:1px solid #ffffff;}
#buttonSmallDisabled       {background-color: #fffbdb; font-size:10px; border-bottom: 1px solid #e6e3b8; border-right:1px solid #e6e3b8; border-left:1px solid #ffffff; border-top:1px solid #ffffff;}
.buttonText      { color: #505050; font-family:verdana,  sans-serif;  text-align: center; text-decoration: none; padding-bottom: 1px;}
.buttonText A:link, .buttonText A:active, .buttonText A:visited  {color: #505050;  text-decoration: none;}
.buttonText A:hover       {color: #000000; }
.buttonTextDisabled    {font-family:verdana,  sans-serif;  text-align: center; color: #b2b2b2; text-decoration: none; padding-bottom:1px;  border-bottom:1px solid #e6e3b8; border-right:1px solid #e6e3b8; border-left:1px solid #ffffff; border-top:1px solid #ffffff; }
.buttonTextEmphasized    {font-family:verdana,  sans-serif; font-weight: bold; text-align: center; color: #505050; text-decoration: none; padding-bottom:1px; border-bottom: 1px solid #d0bb03; border-right:1px solid #d0bb03; border-left:1px solid #fffbd4;  border-top:1px solid #fffbd4; padding-bottom: 1px; }
.buttonTextEmphasized A:link, .buttonTextEmphasized A:active, .buttonTextEmphasized A:visited  {color: #505050;  text-decoration: none;}
.buttonTextEmphasized A:hover       {color: #000000;  }

/* -- FORMS --*/
.formLabel                  {color: #505050; text-align: left;}
.formTable      {padding:5px;margin:0;border-color:#ffffff;border-width:1px;border:1px solid none;background-color:#ffffff;}
.formTableNS4   {padding-right:2px;padding-top:2px;padding-left:2px;margin:0;border-width:1px;border:1px solid none;background-color:#ffffff;}
.formTableIndent {background-color: #ffffff; font-family:verdana,sans-serif; font-size:11px; border-left:1px solid #999999; border-right:1px solid #999999; padding-left: 8px; padding-right: 8px; padding-bottom: 8px;}
#readOnly       {background-color:#f7f8fd;}
.pulldown               {background: #ffffff; font-family: verdana,  sans-serif; font-size:11px; color: #505050; border: 1px solid #999999;}
.pulldownNS4      {background: #ffffff; font-family: verdana,  sans-serif; font-size:11px; color: #505050;}
.requiredLabel  {font-size:11px;}
.requiredIndicator       {font-size:11px; color:#FF0000}
#rightAlign    {text-align: right;}
.inputField          {font-family: verdana, sans-serif; font-size:11px; color: #505050; padding-left: 8px; padding-top: 2px; padding-bottom: 2px; border: 1px solid #999999;}
.inputFieldNS4     {font-family: verdana, sans-serif; font-size:11px; color: #505050; padding-left: 8px;}
.smallinputField {font-family: verdana, sans-serif; font-size:11px; color: #505050; border: 1px solid #999999; padding-left: 8px;}
.smallinputFieldNS4 {font-family: verdana, sans-serif; font-size:11px; color: #505050; padding-left: 8px;}
#editedText {font-family: verdana, sans-serif; font-size:11px; font-weight:bold; font-style:italic; color: #505050; padding-left: 8px;}
.displayField    {background: #f7f8fd; font-family: verdana, sans-serif; font-size:11px; color: #505050;  border: 1px solid #999999; padding-left: 8px; padding-top: 2px; padding-bottom: 2px;}
.displayFieldNS4         {background: #f7f8fd; font-family: verdana, sans-serif; font-size:11px; color: #505050; }
.smalldisplayField       {background: #f7f8fd; font-family: verdana, sans-serif; font-size:11px; color: #505050; border: 1px solid #999999; padding-left: 8px;}
.smalldisplayFieldNS4  {background: #f7f8fd; font-family: verdana,  sans-serif; font-size:11px; color: #505050; }
.listDisplayField {background: #ffffff; font-family: verdana,  sans-serif; font-size:11px; color: #505050; padding-left: 8px; border: 1px solid #999999;}
.inputFieldNoBorder { font-family: verdana, sans-serif; font-size:11px; color: #505050; border:0px; padding-left:5px; padding-right:5px;}
.listBoxHeader {background-color: #d1d6f0; font-family:verdana, sans-serif; font-size: 11px; color: #505050; line-height: 18px; border-bottom:1px solid #999999; border-left:1px solid #999999; border-right:1px solid #999999; border-top:1px solid #999999; padding-left: 8px; }

/* -- WIZARDS --*/
.wizardStep             {background: #F7F8FD; font-family: verdana, sans-serif; font-size:11px; color: #505050;}
.wizardStepSelected             {background: #fff274; font-family: verdana, sans-serif; font-size:11px; color: #505050; font-weight:bold;}
.wizardStepIncomplete   {background: #F7F8FD; font-family: verdana, sans-serif; font-size:11px; color: #a0a0a0;}
.wizardStepOptional             {background: #F7F8FD; font-family: verdana, sans-serif; font-size:11px; color: #505050; font-style: italic}
.wizardStepSelectedOptional             {background: #fff274; font-family: verdana, sans-serif; font-size:11px; color: #505050; font-weight:bold; font-style: italic}
.wizardStepIncompleteOptional   {background: #F7F8FD; font-family: verdana, sans-serif; font-size:11px; color: #a0a0a0; font-style: italic;}

/* -- TEXTAREAS --*/
TEXTAREA {
           border-left: #999999 solid 1px;
           border-right: #999999 solid 1px;
           border-top: #999999 solid 1px;
           border-bottom: #999999 solid 1px;
           font-family: verdana,sans-serif;
           font-size: 11px;
           font-weight: normal;
         }
TEXTAREA.editable       { padding: 8px; background-color: #ffffff; }
TEXTAREA.editableNS4    { background-color: #ffffff; }
TEXTAREA.noneditable    { padding: 8px; background-color: #f7f8fd; }
TEXTAREA.noneditableNS4 { background-color: #ffffff; }

/* PADS */
.solutionPadTitle       {background-color:#f2f2f2;font-family:verdana,sans-serif; font-size:11px;font-weight:bold;color:#505050;border-top:1px solid #999999;border-bottom:1px solid #999999;border-left:1px solid #999999;border-right:1px solid #999999;}
.solutionPadTitleBorder0    {border-right:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;border-left:1px solid #ffffff;border-top:1px solid #ffffff;}
.solutionPadTitleBorder1    {height:18px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;border-left:1px solid #fafafa;border-top:1px solid #fafafa;}
.solutionPadContent0    {height: 19px; background-color:#ffffff;font-family: verdana, sans-serif; font-size:11px;font-weight:normal;}
.solutionPadContent0 A:link, .solutionPadContent0 A:active, .solutionPadContent0 A:visited  {color: #505050;text-decoration:none;}
.solutionPadContent1    {height: 19px; background-color:#ffffff;font-family: verdana, sans-serif; font-size:11px;font-weight:normal;}
.solutionPadContent1 A:link, .solutionPadContent1 A:active, .solutionPadContent1 A:visited  {color: #505050;text-decoration:none;}
#solutionHighlightedPadContent {background-color:#e6e6e6; font-weight: bold;}

.applicationPadTitle    {background-color:#d1d6f0;font-family:verdana,sans-serif;font-size:11px;font-weight:bold;color:#505050;border-top:1px solid #999999; border-bottom:1px solid #999999; border-left:1px solid #999999; border-right:1px solid #999999;}
.applicationPadTitleBorder0    {border-right:1px solid #bac2d8;border-bottom:1px solid #bac2d8;border-left:1px solid #e4e6f5;border-top:1px solid #e4e6f5;}
.applicationPadTitleBorder1    {height:18px;border-right:1px solid #c5ceed;border-bottom:1px solid #c5ceed;border-left:1px solid #d6daf2;border-top:1px solid #d6daf2;}
.applicationPadContent0 {height: 19px; background-color:#e4e6f5;font-family: verdana, sans-serif; font-size:11px;font-weight:normal;}
.applicationPadContent0 A:link, .applicationPadContent0 A:active, .applicationPadContent0 A:visited  {color: #505050;text-decoration:none;}
.applicationPadContent1 {height: 19px; background-color:#f7f8fd;font-family: verdana, sans-serif; font-size:11px;font-weight:normal;}
.applicationPadContent1 A:link, .applicationPadContent1 A:active, .applicationPadContent1 A:visited  {color: #505050;text-decoration:none;}
#applicationHighlightedPadContent {background-color:#fff274; font-weight: bold;}

