/*******************************************
  Supplemental Documentation i2 CSS stylesheet
	Must be used with style_sheet_core.css (official i2 Stylesheet)
  Version 0.99 Beta - subject to modifications
			Notice: Some styles subject to removal. Stablilized version will be presented as Version 1.0, approximately April 30th.
			Thereafter, only minor tweaks and additions will occur.
	Created Fri Apr 12 2002.
	Authors: Audrey Garrett, Andy Schubert
 *******************************************/
BODY{ font-family : Verdana,Arial,Geneva,Helvetica,sans-serif; font-size : 11px;  margin-right : 25px;  margin-left : 8px; margin-top : 8px; margin-bottom : 8px; }

TD{ font-family : Verdana,Arial,Geneva,Helvetica,sans-serif; font-size : 11px }

.bodycopy{ color : #000000; background-color : #FFFFFF; }

.smallheadline { color : #2C5A8F; background-color : #FFFFFF; font-weight : bold }
.mediumheadline { color : #505050; background-color : #FFFFFF; font-size : 14px; font-weight : bold }
.largeheadline,h1 { color : #505050; background-color : #FFFFFF; font-size : 16px; font-weight : bold }

OLI{ color : #000000; background-color : #FFFFFF; padding-left : 6px; padding-bottom : 2px }
.indentoption{ padding-left : 40px }
ULI {color: #000000; background-color : #FFFFFF;	padding-left : 6px; padding-bottom : 2px}

.code{ font-size : 12px; margin : 0px 0px 1px 0px; font-family : "Courier New",monospace }
.codeindent{ font-size : 12px; margin : 3px 0px 3px 18px; font-family : "Courier New",monospace }

.bullet2{ margin : 0px 0px 1px 36px; text-indent : -25px; padding-top : 3px; list-style-type : disc; }
.bullet3{ margin : 0px 0px 1px 54px; text-indent : -25px; padding-top : 3px }

.seealso{ font-weight : bold; margin : 12pt 0pt 3pt 0pt; }
.seealsotext{ margin : 2px 0px 2px 0px; padding-left : 10px }
blockquote{ margin : 3px 0px 3px 18px }

.category { background : #E4E6E5; border-bottom : 1px solid #999999; height : 15px; padding-top : 2px; padding-left : 8px }
.subcategory1 { background : #F7F8FD; border-bottom : 1px solid #999999; height : 15px; padding-top : 2px; padding-left : 23px }
.subcategory2 { background : #F7F8FD; border-bottom : 1px solid #999999; height : 15px; padding-top : 2px; padding-left : 38px }
.subcategory3 { background : #F7F8FD; border-bottom : 1px solid #999999; height : 15px; padding-top : 2px; padding-left : 62px }
.subcategory4 { background : #F7F8FD; border-bottom : 1px solid #999999; height : 15px; padding-top : 2px; padding-left : 77px }
.categorybullet { background : #F7F8FD; border-bottom : 1px solid #999999; height : 15px; padding-top : 2px; padding-left : 10px }

.tr1 { height: 15px; padding-top : 2px; padding-left : 0px; color:#000000; background : #D1D6F0}
.tr1a { height: 15px; padding-top : 2px; padding-left : 0px; color:#000000; background : #F7F8FD }
.tr1b { height: 15px;  padding-top : 2px; padding-left : 0px; color:#000000; background : #ECEEF8 }
.tr1c{ height : 15px;  padding-top : 2px; padding-left : 0px; font-weight : bold; color: #505050; background : #D1D6F0 }
.tr1d { height : 15px;  padding-top : 2px; padding-left : 0px; font-weight : bold; color: #505050; background : #F7F8FD }
.tr1e { height : 15px;  padding-top : 2px; padding-left : 0px; font-weight : bold; color: #505050; background : #ECEEF8 }

#indent2 {padding-left: 6px	}
#indent3 {padding-left: 12px}
#indent4 {padding-left: 18px}
#indent5 {padding-left: 24px}
#indent6 {padding-left: 30px}
#indent7 {padding-left: 36px}
#indent8 {padding-left: 42px}
#indent9 {padding-left: 48px}
#indent10 {padding-left: 54px}
#indent11 {padding-left: 60px}
#indent12 {padding-left: 66px}
#indent13 {padding-left: 72px}
#indent14 {padding-left: 78px}
#indent15 {padding-left: 84px}
#indent16 {padding-left: 90px}
#indent17 {padding-left: 96px}
#indent18 {padding-left: 102px}