/* -- i2 Style Sheet - 05/30/01 -- The default CORE style sheet for TradeMatrix and i2Tags --*/
/* -- GENERAL --*/
body                   {font-family: Verdana, Arial, Geneva, Helvetica, sans-serif; font-size: 8pt; color: #505050; background-color:#ffffff; SCROLLBAR-3DLIGHT-COLOR: #999999;  SCROLLBAR-ARROW-COLOR: #656363; SCROLLBAR-BASE-COLOR: #d1d6f0; SCROLLBAR-HIGHLIGHT-COLOR: #d1d6f0; SCROLLBAR-SHADOW-COLOR: #d1d6f0; SCROLLBAR-DARKSHADOW-COLOR: #999999;  SCROLLBAR-TRACK-COLOR: #f2f4fe; }
.bodyText		{font-size : 11px; padding-left: 4px;}
.Header1   {font-family: verdana, arial, san-serif; font-size:11px; font-weight: bold; color: #2e4e9e;}
.bodyBackground   {background-color:#e6e6e6;}
.messageBoxBackground  {background-color:#F2F4FE;}
p.reset              {font-family: verdana, arial, san-serif; margin:1px; font-size:11px; }
br.separator			{font-size: 6px; padding-left: 8px; padding-right: 8px;}
.shadow           {border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; } 
/* -- the shadow sets BG color for a shadow effect around power tab container  --*/
a:link,  a:active  {color: #5060BB ; text-decoration: none; }
a:visited			   {color: #9430A3; text-decoration: none; }
.linkDisabled			 {color: #a0a0a0; text-decoration: none;}
hr                         {height: 2px;}
.error	 {font-family: verdana, arial, san-serif; font-size:11px; font-weight:bold; color: #c63e3e; padding-left: 6px; padding-top: 6px;}
.errorText	{font-family: verdana, arial, san-serif; font-size:11px; color: #c63e3e; padding-left: 6px; }
.positiveMessage	{font-family: verdana, arial, san-serif; font-size:11px;  font-weight:bold; color: #238B3B; }
.vr			 {font-size:1px; background-color: #999999;}

/* --- SHELL --- These styles are used to create the background where all content reside. --*/
.shellBody                 {margin:0px;}
.shellBackground   {background-color:#4858c5; margin:0px;}
.shellContent              {background-color:#e6e6e6;}
.shellEdgeTop, .shellEdgeBottom     {background-repeat:repeat-x; font-size:2px; }
.shellEdgeLeft, .shellEdgeRight    {background-repeat:repeat-y; font-size:2px; }
.shellBannerText {font-family:verdana,arial,san-serif; font-size:11px; color:#ffffff;}
.shellBannerText a:link, .shellBannerText a:active, .shellBannerText a:visited, .shellBannerText a:hover  {color: #ffffff; text-decoration: none;}

/* -- HEADERS --*/
.applicationHeader   {font-family: verdana, arial, san-serif; font-size:11px; font-weight: bold; color: #2e4e9e;}
.breadcrumbs   {font-size:11px; font-weight: normal; color: #2e4e9e;}
.contentHeader   { font-size:11px; font-weight: bold; color: #505050; }

/* -- TABS  --*/
#tabPaneWhite   {background-color : #ffffff; }
#tabPaneGrey     {background-color : #e6e6e6;}
.tabFillerWhite     {border-bottom:1px solid #999999; border-right:1px solid #ffffff;}
.tabFillerGrey       {border-bottom:1px solid #999999; border-right:1px solid #e6e6e6;}
.tabFillerVertWhite  {border-right:1px solid #999999;}
.tabFillerVertGrey    {border-right:1px solid #e6e6e6;}
.tabGap                      {border-bottom:1px solid #bfbfbf; font-size:1px;}
.tabGapVert          {border-right:1px solid #bfbfbf; font-size:1px;}
.tabText                 {font-family:verdana, arial, san-serif; font-size:11px; text-align : center; color: #505050;  text-decoration : none; padding-bottom:3px; padding-top:3px; border-top:1px solid #999999; }
.tabText a:link, .tabText a:active, .tabText a:visited, .tabText a:hover  {color: #505050; text-decoration: none;}
.tabTextNS4          {font-family:verdana, arial, san-serif; font-size:11px; text-align : center; color: #505050; text-decoration : none; padding-bottom:2px; padding-top:1px; border-top:1px solid #999999; }
.tabTextNS4 a:link, .tabTextNS4 a:active, .tabTextNS4 a:visited, .tabTextNS4 a:hover  {color: #505050; text-decoration: none;}
#tabSelected              {background-color:#bec5e7; font-weight:bold;}
#tabSelectedVert      {background-color:#ffffff; font-weight:bold;}
#tabSelectedVert2    {background-color:#ffffff; font-weight:bold; border-bottom:1px solid #999999;border-top:1px solid #999999;}
#tabSelectedNS4Vert    {background-color:#bec5e7; font-weight:bold;}
#tabSelectedNS6Vert    {background-color:#ffffff; font-weight:bold;}
#tabSelectedNS6Vert2  {background-color:#ffffff; font-weight:bold; border-bottom:1px solid #999999;}
#tabSelectedNS6            {background-color:#bec5e7; font-weight:bold; border-bottom:1px solid #bec5e7;}
#tabUnSelected               {background-color : #d1d6f0; border-bottom:1px solid #999999;}
#tabUnSelectedVert       {background-color : #d1d6f0;}
#tabUnSelectedVert2     {background-color : #d1d6f0; border-top:1px solid #999999; border-bottom:1px solid #999999; border-right:1px solid #999999;}
#powerTabSelected           {background-color : #fffacd; font-weight : bold;}
#powerTabSelectedNS6   {background-color : #fffacd; font-weight : bold; border-bottom:1px solid #fffacd;}
#powerTabUnSelected     {background-color : #fffde6; border-bottom:1px solid #999999;}
.tabContainerHeader         {font-family:verdana, arial, san-serif; font-size : 11px; font-weight : bold;  color : #505050;  line-height: 18px; border-bottom:1px solid #999999; border-left:1px solid #999999; border-right:1px solid #999999;}
.tabContainerHeaderLeft    {font-family:verdana, arial, san-serif; font-size : 11px; font-weight : bold;  color : #505050;  line-height: 18px; border-bottom:1px solid #999999; border-left:1px solid #999999;}
.tabContainerHeaderRight   {font-family:verdana, arial, san-serif; font-size : 11px; font-weight : bold;  color : #505050; text-align : right;  line-height: 18px; border-bottom:1px solid #999999; border-right:1px solid #999999;}
.tabContainerHeaderLeftNS4 {font-family:verdana, arial, san-serif; font-size : 11px; font-weight : bold;  color : #505050;  line-height: 16px; border-bottom:1px solid #999999; border-left:1px solid #999999;}
.tabContainerHeaderRightNS4 {font-family:verdana, arial, san-serif; font-size : 11px; font-weight : bold;  color : #505050; text-align : right;  line-height: 16px; border-bottom:1px solid #999999; border-right:1px solid #999999;}
.tabContainerHeaderVert    {font-family:verdana, arial, san-serif; font-size : 11px; font-weight : bold;  color : #505050;  line-height: 18px; border-bottom:1px solid #999999; border-left:1px solid #999999; border-right:1px solid #999999; border-top:1px solid #999999;}
.tabContainerHeaderLeftVert  {font-family:verdana, arial, san-serif; font-size : 11px; font-weight : bold;  color : #505050;  line-height: 18px; border-bottom:1px solid #999999; border-left:1px solid #999999; border-top:1px solid #999999;}
.tabContainerHeaderRightVert {font-family:verdana, arial, san-serif; font-size : 11px; font-weight : bold;  color : #505050; text-align : right;  line-height: 18px; border-bottom:1px solid #999999; border-right:1px solid #999999; border-top:1px solid #999999;}
.tabContainerHeaderLeftVertNS4  {font-family:verdana, arial, san-serif; font-size : 11px; font-weight : bold;  color : #505050;  line-height: 16px; border-bottom:1px solid #999999; border-left:1px solid #999999; border-top:1px solid #999999;}
.tabContainerHeaderRightVertNS4 {font-family:verdana, arial, san-serif; font-size : 11px; font-weight : bold;  color : #505050; text-align : right;  line-height: 16px; border-bottom:1px solid #999999; border-right:1px solid #999999; border-top:1px solid #999999;}
.tabCorner                   {font-size:2px;}
.tabEdgeLeft               {background-repeat:repeat-y; font-size:2px;}
.tabEdgeRight             {background-repeat:repeat-y; background-position:right; font-size:2px;}
.tabEdgeBottom         {font-family:verdana, arial, san-serif; font-size : 11px; color : #999999; text-align : left;}

 /* --  CONTAINERS  --*/
.containerBorder   {background-color:#999999;}
.containerHeader  {font-family:verdana, arial, san-serif; font-size : 11px;  font-weight : bold; color : #505050; line-height: 18px; border-top:1px solid #999999; border-bottom:1px solid #999999; border-left:1px solid #999999; border-right:1px solid #999999;}
.containerHeaderLeft   {font-family:verdana, arial, san-serif; font-size : 11px;  font-weight : bold; color: #505050; line-height: 18px; border-top:1px solid #999999; border-bottom:1px solid #999999; border-left:1px solid #999999;}
.containerHeaderRight  {font-family:verdana, arial, san-serif; font-size : 11px;  font-weight : bold;  text-align : right; color : #505050; line-height: 18px; border-top:1px solid #999999; border-bottom:1px solid #999999; border-right:1px solid #999999;}
.containerHeaderless  {font-size : 2px; line-height: 6px; border-top:1px solid #999999; border-bottom:1px solid #999999; border-left:1px solid #999999; border-right:1px solid #999999;}
.containerHeaderLeftNS4   {font-family:verdana, arial, san-serif; font-size : 11px;  font-weight : bold; color : #505050; line-height:16px; border-top:1px solid #999999; border-bottom:1px solid #999999; border-left:1px solid #999999;}
.containerHeaderRightNS4  {font-family:verdana, arial, san-serif; font-size : 11px;  font-weight : bold;  text-align : right; color : #505050; line-height:16px; border-top:1px solid #999999; border-bottom:1px solid #999999; border-right:1px solid #999999;}
.containerBody      {background-color : #ffffff; font-family:verdana, arial, san-serif;  font-size:11px;   border-left:1px solid #999999; border-right:1px solid #999999; }
.containerBodyIndent      {background-color : #ffffff; font-family:verdana, arial, san-serif;  font-size:11px;  border-left:1px solid #999999; border-right:1px solid #999999; padding-left: 8px; padding-right: 8px; padding-bottom: 8px;}
.containerBodyVert  {background-color : #ffffff; font-family:verdana, arial, san-serif;  font-size:11px;  border-right:1px solid #999999; }
.containerBodyVertIndent  {background-color : #ffffff; font-family:verdana, arial, san-serif;  font-size:11px;   border-right:1px solid #999999; padding-left: 8px; padding-right: 8px;}
.containerFooter    {font-family:verdana, arial, san-serif; font-size : 11px; color : #505050; line-height: 18px; border-top:1px solid #999999; border-bottom:1px solid #999999; border-left:1px solid #999999; border-right:1px solid #999999;}
#containerOuter           {background-color : #bec5e7; font-weight : bold;}
#containerInner           {background-color : #d1d6f0;}

/* -- TABLES --*/
tr,td                     {font-family: verdana, arial, san-serif; font-size:11px; color: #505050;}
.tableBorder     {background-color:#999999; }
.tableHeader 	{background-color:#bec5e7; font-size:11px; font-weight:bold; color:#505050; line-height: 18px; border-top:1px solid #999999; border-left:1px solid #999999;  border-right:1px solid #999999;}
.tableColumnHeadings   {background:#d1d6f0; font-family:verdana,arial,san-serif;  font-size:11px; color: #505050; line-height: 18px;}
.tableColumnHeadings td  {padding-left: 6px; padding-right: 6px;}
#tableColumnHeadings   {background:#d1d6f0; font-family:verdana,arial,san-serif;  font-size:11px; color: #505050; line-height: 18px;}
.tableColumnHeadingsNS4   {background:#d1d6f0; font-family:verdana,arial,san-serif;  font-size:11px; color: #505050;}
.tableColumnHeadingsNS4 td  {padding-left: 6px; padding-right: 6px;}
.tableColumnSelectable {background:#d1d6f0; font-family:verdana,arial,san-serif;  font-size:11px; color: #505050; padding-left: 6px; line-height: 18px; border-top:1px solid #ffffff; border-left:1px solid #ffffff;  border-right:1px solid #989db7; border-bottom: 1px solid #989db7;}
.tableRow0       {background:#f7f8fd; font-family:verdana,arial,san-serif; font-size:11px; color: #505050;	line-height: 18px;}
.tableRow0  td     {padding-left: 6px; padding-right: 6px;}
.tableRow0NS4       {background:#f7f8fd; font-family:verdana,arial,san-serif; font-size:11px; color: #505050;}
.tableRow0NS4 td      {padding-left: 6px; padding-right: 6px;}
.tableRow1       {background:#eceef8; font-family:verdana,arial,san-serif; font-size:11px; color: #505050; line-height: 18px;}
.tableRow1 td      {padding-left: 6px; padding-right: 6px;}
.tableRow1NS4      {background:#eceef8; font-family:verdana,arial,san-serif; font-size:11px; color: #505050;}
.tableRow1NS4 td      {padding-left: 6px; padding-right: 6px;}
.rowHighlight   {background:#fff274; font-family:verdana,arial,san-serif; font-size:11px; color: #505050;}
.columnHighlight   {background:#fffacd; font-family:verdana,arial,san-serif; font-size:11px; color: #505050;}
.editableCell {background:#ffffff; font-family:verdana,arial,san-serif; font-size:11px; color: #505050;}
.indent			   {padding-left: 8px; padding-right: 8px;}

/* -- MENUS --*/
.popupLink {color: #FF9000; text-decoration: none; background-color: #F2F4FE;}
.popupLink a:link, .popupLink a:active, .popupLink a:visited, .popupLink a:hover  {color: #FF9000; text-decoration: none;}
.menuText         { font-family:verdana,arial,san-serif; font-size:11px; color: #505050; text-decoration: none;}
.menuText a:link, .menuText a:active, .menuText a:visited  {color: #505050;  text-decoration: none;}
.menuText a:hover      {color: #000000;  }
.menuUnHighlighted   {background:#F2F4FE;}
.menuHighlighted        {background:#D1D6F0;}
.menuShadow      {background-color: #F2F4FE; border-bottom: 1px solid #D1D6F0;  border-right:1px solid #D1D6F0; border-left:1px solid #ffffff; border-top:1px solid #ffffff;}

/* --  BUTTONS --*/
.buttonBorder                     {background-color:#999999; }
.buttonBorderDisabled     {background-color:#bfbfbf;}
.buttonBorderEmphasized     {background-color:#666666;}
#buttonEmphasized          {background-color: #ffe600; font-size:11px; font-weight: bold;  border-bottom: 1px solid #d0bb03; border-right:1px solid #d0bb03; border-left:1px solid #fffbd4;  border-top:1px solid #fffbd4; }
#buttonRegular           {background-color: #fff6a6; font-size:11px; border-bottom: 1px solid #e4db83;  border-right:1px solid #e4db83; border-left:1px solid #ffffff; border-top:1px solid #ffffff;}
#buttonDisabled          {background-color: #fffbdb;  font-size:11px; border-bottom: 1px solid #e6e3b8; border-right:1px solid #e6e3b8; border-left:1px solid #ffffff; border-top:1px solid #ffffff;}
#buttonSmallEmphasized     {background-color: #ffe600;  font-weight: bold; font-size:10px; border-bottom: 1px solid #d0bb03; border-right:1px solid #d0bb03; border-left:1px solid #fffbd4;  border-top:1px solid #fffbd4; }
#buttonSmallRegular        {background-color: #fff6a6; font-size:10px; border-bottom: 1px solid #e4db83;  border-right:1px solid #e4db83; border-left:1px solid #ffffff; border-top:1px solid #ffffff;}
#buttonSmallDisabled       {background-color: #fffbdb; font-size:10px; border-bottom: 1px solid #e6e3b8; border-right:1px solid #e6e3b8; border-left:1px solid #ffffff; border-top:1px solid #ffffff;}
.buttonText      { color: #505050; font-family:verdana, arial, san-serif;  text-align: center; text-decoration: none; padding-bottom: 1px;}
.buttonText a:link, .buttonText a:active, .buttonText a:visited  {color: #505050;  text-decoration: none;}
.buttonText a:hover       {color: #000000; }
.buttonTextDisabled    {font-family:verdana, arial, san-serif;  text-align: center; color: #b2b2b2; text-decoration: none; padding-bottom:1px;  border-bottom:1px solid #e6e3b8; border-right:1px solid #e6e3b8; border-left:1px solid #ffffff; border-top:1px solid #ffffff; }
.buttonTextEmphasized    {font-family:verdana, arial, san-serif; font-weight: bold; text-align: center; color: #505050; text-decoration: none;  border-bottom: 1px solid #d0bb03; border-right:1px solid #d0bb03; border-left:1px solid #fffbd4;  border-top:1px solid #fffbd4; }
.buttonTexEmphasized a:link, .buttonTextEmphasized a:active, .buttonTextEmphasized a:visited  {color: #505050;  text-decoration: none;}
.buttonTextEmphasized a:hover       {color: #000000;  }

/* -- FORMS --*/
.formLabel		    {color: #505050; text-align: left;}
.pulldownIE 		{background: #eceef8; font-family: verdana, arial, san-serif; font-size:11px; color: #505050; border: 1px solid #999999;}
.pulldownNS 	  {background: #eceef8; font-family: verdana, arial, san-serif; font-size:11px; color: #505050;}
.formLabel	 {font-size:11px;}
.requiredIndicator	 {font-size:11px; color:#FF0000}
#rightAlign    {text-align: right;} 
.inputFieldIE	     {font-family: verdana, arial, san-serif; font-size:11px; color: #505050; padding-left: 8px; padding-top: 2px; padding-bottom: 2px; border: 1px solid #999999;}
.inputFieldNS	   {font-family: verdana, arial, san-serif; font-size:11px; color: #505050; padding-left: 8px;}
.smallinputFieldIE {font-family: verdana, arial, san-serif; font-size:11px; color: #505050; border: 1px solid #999999; padding-left: 8px;}
.smallinputFieldNS {font-family: verdana, arial, san-serif; font-size:11px; color: #505050; padding-left: 8px;} 
.displayFieldIE	 {background: #eceef8; font-family: verdana, arial, san-serif; font-size:11px; color: #505050;  border: 1px solid #999999; padding-left: 8px; padding-top: 2px; padding-bottom: 2px;}
.displayFieldNS	 {background: #eceef8; font-family: verdana, arial, san-serif; font-size:11px; color: #505050; padding-left: 8px;}
.smalldisplayFieldIE	 {background: #eceef8; font-family: verdana, arial, san-serif; font-size:11px; color: #505050; border: 1px solid #999999; padding-left: 8px;}
.smalldisplayFieldNS  {background: #eceef8; font-family: verdana, arial, san-serif; font-size:11px; color: #505050; padding-left: 8px;}
.inputFieldNoBorder { font-family: verdana, arial, san-serif; font-size:11px; color: #505050; border:0px; padding-left:5px; padding-right:5px;}
